{
    "browserslist": [
        "last 1 Chrome versions"         //Google Chrome.
        , "last 1 Firefox versions"        //Mozilla Firefox.
        , "ie >= 9"                        //Explorer Internet Explorer.
        , "last 1 Edge versions"           //Microsoft Edge.
        , "last 1 iOS versions"            //iOS Safari.
        , "last 1 Opera versions"          //Opera.
        , "last 1 Safari versions"         //desktop Safari.
        , "last 1 ExplorerMobile versions" //Internet Explorer Mobile.
        //        Other

        , "last 1 Android versions"        //Android WebView.
        , "last 1 BlackBerry versions"     //Blackberry browser.
        , "last 1 ChromeAndroid versions"  //Chrome for Android (in Other section, because mostly same as common Chrome).
        , "last 1 FirefoxAndroid versions" //Firefox for Android.
        , "last 1 OperaMobile versions"    //Opera Mobile.
    //  , "last 1 OperaMini versions"      //Opera Mini
    ]
}